<phpunit
  bootstrap="test/bootstrap.php"
  colors="true">
  <testsuites>
    <testsuite name="baidubce/http">
      <file>test/baidubce/http/HttpClientTest.php</file>
      <file>test/baidubce/services/bos/BosHttpClientTest.php</file>
      <file>test/baidubce/services/bos/BosClientTest.php</file>
      <file>test/baidubce/services/bos/BosClientTest2.php</file>
    </testsuite>
    <testsuite name="baidubce/auth">
      <file>test/baidubce/auth/AuthTest.php</file>
    </testsuite>
    <testsuite name="baidubce/util">
      <file>test/baidubce/util/CoderTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>
